@using XProject.Repositories.Dtos

@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="data-row"></div>
<div class="row">

    <div class="col-lg-2 mb-5 item-card">
        <div class="card h-100 shadow">
            <div class="card-body">
                <div class="num-block">
                    <img src="/img/icons/no-photo.png" alt="" />
                    <h5>155</h5>
                    <h6 class="text-danger">+5</h6>
                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="float-end"><i class="bi bi-arrow-right"></i></a>
                <span>Танки</span>
            </div>
        </div>
    </div>

</div>

@section Scripts {

<script src="/js/index.js"></script>

}

<style>
    .item-card {
    }

        .item-card .num-block {
            position: relative;
            height: 64px;
        }

            .item-card .num-block img {
                height: 64px;
                float: left;
            }

            .item-card .num-block h5 {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 27px;
            }

            .item-card .num-block h6 {
                position: absolute;
                top: 35px;
                right: 0;
                font-size: 22px;
                background: rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                padding: 3px 7px;
            }

</style>

